.ui-tooltip-content {
	font-size: 120%;;
	font-weight: bold;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Calibri, sans-serif;
	font-size: 11pt;
	margin: 0;
}

div.copyright {
	margin-bottom: 10px;
	color: gray;
	font-size: 90%;
	font-weight: bold;
}

div.header {
	background-color: #DBE5F1;
	height: 100px;
	margin-bottom: 50px;
	box-shadow: 0 3px 5px 5px #CCC;
	text-align: center;
	line-height: 100px;
}

div.hidden {
	display: none;
}

div.footer {
	border-top: dashed 1px black;
	padding-top: 10px;
}

div.content {
	width: 550px;
	margin: auto;
}

div.centermargin {
	text-align: center;
	margin-top: 20px;
}

div.topmargin {
	margin-top: 30px;
}

div.info {
	background-color: #FCD0D6;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px black;
}

div.info a {
	font-weight: bold;
}

div#type_select {
	box-shadow: 0 0 3px 3px #CCC;
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px;
	margin-top: 15px;
	position: relative;
}

h1 {
	margin: 0;
	white-space: nowrap;
	display: inline;
}

hr {
	border: none;
	border-top: 1px dashed black;
	width: 50%;
}

img {
	border: none;
	margin: 5px;
	vertical-align: middle;
}

img#ajaxloader {
	display: none;
	position: absolute; 
	right: -50px;
	top: -2px;
}

input[type='text'] {
	text-align: right;
	width: 95%;
	color: #C0504D;
	font: inherit;
	border: solid 1px black;
}

label {
	font-weight: bold;
}

input[type='submit'] {
	font-weight: bold;
	margin-right: 20px;
}

table.radio {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

table.radio td {
	border-left: dashed 1px black;
	text-align: center;
	padding: 5px;
}

table.radio td:hover {
	background-color: #DBE5F1;
}

table.radio td:first-child {
	border-left: 0;
}

table.details {
	border-collapse: collapse;
	table-layout: fixed;
	border: solid 1px black;
	width: 100%;
}

table.details td:nth-child(2) {
	background-color: #DBE5F1;
	width: 100px;
	text-align: right;
	border-left: dashed 1px black;
}

/* IE fix */
table.details td:first-child + td {
	background-color: #DBE5F1;
	width: 100px;
	text-align: right;
	border-left: dashed 1px black;
}

table.details > td:nth-child(3) {
	background-color: #DBE5F1;
	width: 20px;
	text-align: left;
}

/* IE fix */
table.details td:first-child + td + td {
	background-color: #DBE5F1;
	width: 20px;
	text-align: left;
}

table.details tr:hover td {
	background-color: #DBE5F1;
}

table.details tr.customizable {
	color: #C0504D;
}

table.details tr.total {
	font-weight: bold;
}

ul.errors {
	color: red;
	font-weight: bold;
}